.container {
  background-color: #fcfcfc;
}

.projectsContainer {
  display: flex;
}
.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightSection {
  flex: 1;
  background-color: #252525;
  position: relative;
}

.test {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 999;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
