.container {
  background-color: #fcfcfc;
}

.title {
  margin: 0px;
  text-align: center;
}

.projectsContainer {
  display: flex;
}
.leftSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.leftSection > :nth-child(1) {
  background-color: #1c1523;
}
.leftSection > :nth-child(2) {
  background-color: #1c1c1c;
}

.rightSection {
  flex: 1;
  background-color: #252525;
  position: relative;
}

.projectContainer {
  flex: 1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.projectDescription {
  position: absolute;
  color: #fcfcfc;
  visibility: hidden;
}
.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectContainer:hover .projectDescription {
  visibility: visible;
}
.projectContainer:hover .imageContainer {
  visibility: hidden;
}

.test:hover .projectDescription {
  opacity: 1;
  position: absolute;
  background-color: red;
  color: #fcfcfc;
}
