.container {
  height: 100%;
  width: 100%;
}
.mainSection {
  display: flex;
  padding-top: 5%;
  justify-content: space-between;
  height: 80%;
}
.leftSection {
  width: 48%;
  color: #fcfcfc;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.leftSection > :nth-child(1) {
  font-size: 2rem;
  font-style: italic;
  padding-top: 10%;
  padding-bottom: 5%;
}

.leftSection > div {
  font-size: 2rem;
  padding-bottom: 10%;
}
.rightSection {
  width: 50%;
  position: relative;
}
.profilePhotoContainer {
  position: absolute;
  height: 85%;
  width: 75%;
  right: 10%;
  bottom: 0%;
}
.rightSection > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right bottom;
  border-radius: 60px;
}

.containerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0;
}
.cvButton {
  background-color: #e22929;
  padding: 25px;
  font-size: 1.5rem;
  border-radius: 15px;
  cursor: pointer;
}

.iconDiv {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .rightSection {
    display: none;
  }
}
