@import url("https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta Mahee", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 20px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  html,
  body {
    font-size: 17px;
  }
}
