.container {
  background-color: #1c1c1c;
  overflow-x: hidden;
}
.main {
  padding-right: 5%;
  padding-left: 5%;
}

.footer {
  color: white;
}
.footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
